html{
	height: 100%;
	width: 100%;
}

body{
	background: WhiteSmoke;
	margin: 0px;
	height: 100%;
	font-family: 'Karla';
	font-weight: 300;
}

h1{
	font-size: 96px;
	line-height: 96px;
}

h2{
	font-size:48px;
	line-height: 48px;
}

h4{
	font-size: 24px;
}

button {
	font-family: 'Karla';
	font-size: 32px;
	color: white;
	background-color: MidnightBlue;
	border: 3px solid white;
}

img{
	height: 300px;
	border-radius: 50px;
	margin-right:20px;
}

i{
	font-size: 24px;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	margin-top: -10px;
}

#banner{
	height: 100%;
	width: 100%;
	background-color: MidnightBlue;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.particles-js-canvas-el{
	position: absolute;
}

#banner-text{
	color: LightGrey;
}

.section-header{
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding-top: 25px;
}

.hint{
	font-size: 16px;
	text-align: center;
	margin-top: 0;
	padding-bottom: 15px;
}

#about{
	background-color:Gainsboro;
}

.about-text{
	width: 450px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	padding: 25px;
}

.about-box{
	display: flex;
	width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.about-desc{
	font-size: 18px;
}

.me{
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#contact{
	background-color: white;
}

#footer{
	text-align: center;
	background-color: MidnightBlue;
	color: white;
	display: flex;
	flex-direction: column;
}

#resume{
	position: relative;
	font-size: 32px;
	top: -12px;
	color: white;
}

.resume-link{
	color: white;
	padding: 0;
}

#copyright{
	position: relative;
	top: 10px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {

	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	h4{
		text-align: center;
	}

	.about-box{
		flex-direction: column;
		width: 400px;
	}

	.about-desc{
		text-align: center;
		width: 300px;
		margin: 0 auto;
	}
}