html{
	height: 100%;
	width: 100%;
}

body{
	background: black;
	margin: 0px;
	height: 100%;
	font-family: 'Karla';
	font-weight: 300;
}

h1{
	margin-top: 0;
	text-align: center;
}

h2{
	margin-top: 250px;
	text-align: center;
}

h3{
	color: yellow;
	text-align: center;
	margin-top: 0;
	padding-top: 60px;
	font-size: 32px;
}

h4{
	text-align: center;
	padding: 0 25%;
}

iframe{
	padding: 10px;
}

.divider{
	margin-top: 10px;
	margin-bottom: 20px;
}

.video-row{
	display: flex;
	align-items: center;
	justify-content: center;
}

.program-example{
	width: 68%;
	height: 200px;
	background: grey;
	margin: 20px;
	border-radius: 25px;
}

.game-example{
	width: 35%;
	height: 300px;
	background: grey;
	margin: 20px;
	border-radius: 25px;
	float: left;
}

#navbar{
	display: flex;
	align-items: center;
	position: fixed;
	background: #ff372d;
	top: 0;
	width: 100%;
	z-index: 1;
}

#navbar li{
	float: left;
	list-style-type: none;
	padding-right: 30px;
}

#navbar li a{
	color: yellow;
	text-decoration: none;
	font-size: 22px;
}

#banner{
	padding-top: 75px;
	background: #ff372d;
	width: 100%;
	height: 88%;
}

#film{
	background: #fa613f;
}

#divider1{
	height: 40px;
	width: 100%;
	transform: skewY(-5deg);
	background: #fa613f;
	padding-top: 10px;
	margin-bottom: -1px;
	display: flex;
}

#insidediv1-1{
	transform: skewY(5deg);
	margin-top: -70px;
	height: 70px;
	width: 10%;
	background: #fa613f;
	float: left;
}

#insidediv1-2{
	transform: skewY(5deg);
	margin-top: -59px;
	height: 55px;
	width: 11%;
	background: #fa613f;
	float: left;
	margin-left: -2px;
}

#insidediv1-3{
	transform: skewY(5deg);
	margin-top: -47px;
	height: 50px;
	width: 11%;
	background: #fa613f;
	float: left;
	margin-left: -2px;
}

#insidediv1-4{
	transform: skewY(5deg);
	margin-top: -35px;
	height: 35px;
	width: 11%;
	background: #fa613f;
	float: left;
	margin-left: -2px;
}

#insidediv1-5{
	transform: skewY(5deg);
	margin-top: -23px;
	height: 20px;
	width: 11%;
	background: #fa613f;
	float: left;
	margin-left: -2px;
}

#divider2{
	height: 40px;
	width: 100%;
	transform: skewY(-5deg);
	background: #f97057;
	padding-bottom: 10px;
	margin-top: -1px;
	display: flex;
}

#insidediv2-0{
	transform: skewY(5deg);
	margin-top: 0px;
	height: 0px;
	width: 50%;
}

#insidediv2-1{
	transform: skewY(5deg);
	margin-top: 40px;
	height: 20px;
	width: 10%;
	background: #f97057;
	float: right;
}

#insidediv2-2{
	transform: skewY(5deg);
	margin-top: 40px;
	height: 40px;
	width: 11%;
	background: #f97057;
	float: right;
	margin-left: -2px;
}

#insidediv2-3{
	transform: skewY(5deg);
	margin-top: 40px;
	height: 50px;
	width: 11%;
	background: #f97057;
	float: right;
	margin-left: -2px;
}

#insidediv2-4{
	transform: skewY(5deg);
	margin-top: 40px;
	height: 60px;
	width: 11%;
	background: #f97057;
	float: right;
	margin-left: -2px;
}

#insidediv2-5{
	transform: skewY(5deg);
	margin-top: 40px;
	height: 70px;
	width: 11%;
	background: #f97057;
	float: right;
	margin-left: -2px;
}

#programs{
	background: #f97057;
	margin: 0;
	width: 100%;
	margin: 0;
}

#divider3{
	height: 40px;
	width: 100%;
	transform: skewY(5deg);
	background: #f97057;
	padding-top: 10px;
	margin-bottom: -1px;
	display: flex;
}

#insidediv3-0{
	transform: skewY(-5deg);
	margin-top: 0px;
	height: 0px;
	width: 50%;
}

#insidediv3-1{
	transform: skewY(-5deg);
	margin-top: -23px;
	height: 20px;
	width: 11%;
	background: #f97057;
	float: left;
	margin-left: -2px;
}

#insidediv3-2{
	transform: skewY(-5deg);
	margin-top: -35px;
	height: 35px;
	width: 11%;
	background: #f97057;
	float: left;
	margin-left: -2px;
}

#insidediv3-3{
	transform: skewY(-5deg);
	margin-top: -47px;
	height: 50px;
	width: 11%;
	background: #f97057;
	float: left;
	margin-left: -2px;
}

#insidediv3-4{
	transform: skewY(-5deg);
	margin-top: -59px;
	height: 55px;
	width: 11%;
	background: #f97057;
	float: left;
	margin-left: -2px;
}

#insidediv3-5{
	transform: skewY(-5deg);
	margin-top: -70px;
	height: 70px;
	width: 10%;
	background: #f97057;
	float: left;
}

#divider4{
	height: 40px;
	width: 100%;
	transform: skewY(5deg);
	background: #f88970;
	padding-bottom: 10px;
	margin-top: -1px;
	display: flex;
}

#insidediv4-1{
	transform: skewY(-5deg);
	margin-top: 40px;
	height: 70px;
	width: 11%;
	background: #f88970;
	float: right;
	margin-left: -2px;
}

#insidediv4-2{
	transform: skewY(-5deg);
	margin-top: 40px;
	height: 60px;
	width: 11%;
	background: #f88970;
	float: right;
	margin-left: -2px;
}

#insidediv4-3{
	transform: skewY(-5deg);
	margin-top: 40px;
	height: 50px;
	width: 11%;
	background: #f88970;
	float: right;
	margin-left: -2px;
}

#insidediv4-4{
	transform: skewY(-5deg);
	margin-top: 40px;
	height: 40px;
	width: 11%;
	background: #f88970;
	margin-left: -2px;
	float: right;
}

#insidediv4-5{
	transform: skewY(-5deg);
	margin-top: 40px;
	height: 20px;
	width: 10%;
	background: #f88970;
	float: right;
	margin-left: -2px;
}

#games{
	background: #f88970;
	margin: 0;
}

#contact{
	background: #e7eeed;
}

#artist{
	font-family: Charm;
}

#programmer{
	font-family: Major Mono Display;
}

#filmmaker{
	font-family: Courier;
}

#program-examples{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#game-examples{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#contact p{
	text-align: center;
	color: black;
	margin: 0;
}